<%- include('partials/header'); -%>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<section class="text-gray-700 body-font">
  <div id="pd" class="container px-5 py-24 mx-auto">
    
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0"></div>
        <p class="leading-relaxed text-base">I have a great breadth of technology stack with a deep hunger to learn more.
          I am a very skilled problem solver who likes to help business as well as mentor juniors and help the team grow.
    
          My speaking skills, sense of empathy, and technical skills make me a great team player, a mentor and a valuable employee. <br>       
          I am proficient with -<br>
          * Frontend - React, JavaScript, SCSS, CSS Selectors, flex layouts<br>
          * Backend - NodeJS, Express<br>
          * Strong Programming Languages - C and c++, JavaScript, Python<br>
          * Strong Git skills<br>
          * Strong Bash skills<br>
          * A strong believer of DevOps, SRE and writing robust, easy to maintain software<br>
          * Firm follower of Agile Scrum methodology - how teams and clients collaborate<br>
          * I know the importance of 365 feedback and love to act on the feedback received<br>
          </p>
      
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
      <div id="pd1"class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <div class="container mt-5">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Programming Languages</th>
                <th></th>
              </tr>
            </thead>
              <tr class="sony">
                <td>Python</td>
                <td>
                  <div class="stars-outer">
                    <div class="stars-inner"></div>
                  </div>
                  <span class="number-rating"></span>
                </td>
              </tr>
              <tr class="samsung">
                <td>C and C++</td>
                <td>
                  <div class="stars-outer">
                    <div class="stars-inner"></div>
                  </div>
                  <span class="number-rating"></span>
                </td>
              </tr>
              <tr class="vizio">
                <td>Java</td>
                <td>
                  <div class="stars-outer">
                    <div class="stars-inner"></div>
                  </div>
                  <span class="number-rating"></span>
                </td>
              </tr>
              <tr class="panasonic">
                <td>Javascript</td>
                <td>
                  <div class="stars-outer">
                    <div class="stars-inner"></div>
                  </div>
                  <span class="number-rating"></span>
                </td>
              </tr>
             <!-- <tr class="phillips">
                <td>Phillips 4K TV</td>
                <td>
                  <div class="stars-outer">
                    <div class="stars-inner"></div>
                  </div>
                  <span class="number-rating"></span>
                </td>
              </tr>   -->

              <!--2table-->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Backend Skills</th>
              
                  </tr>
                </thead>
                <tbody>
                  <tr class="sony2">
                    <td>NodeJS</td>
                    <td>
                      <div class="stars-outer">
                        <div class="stars-inner"></div>
                      </div>
                      <span class="number-rating"></span>
                    </td>
                  </tr>
                  <tr class="samsung2">
                    <td>Mongodb</td>
                    <td>
                      <div class="stars-outer">
                        <div class="stars-inner"></div>
                      </div>
                      <span class="number-rating"></span>
                    </td>
                  </tr>
                    <!--<tr class="vizio2">
                        <td></td>
                        <td>
                          <div class="stars-outer">
                            <div class="stars-inner"></div>
                          </div>
                          <span class="number-rating"></span>
                        </td>
                      </tr>
                      <tr class="panasonic2">
                        <td>Javascript</td>
                        <td>
                          <div class="stars-outer">
                            <div class="stars-inner"></div>
                          </div>
                          <span class="number-rating"></span>
                        </td>
                      </tr>
                      <tr class="phillips2">
                        <td>Phillips 4K TV</td>
                        <td>
                          <div class="stars-outer">
                            <div class="stars-inner"></div>
                          </div>
                          <span class="number-rating"></span>
                        </td>
                      </tr>
                </tbody>
                --> 

            <!--3 table -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Frontend Skills</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr class="sony3">
                  <td>HTML + CSS</td>
                  <td>
                    <div class="stars-outer">
                      <div class="stars-inner"></div>
                    </div>
                    <span class="number-rating"></span>
                  </td>
                </tr>
                <tr class="samsung3">
                  <td>Tailwind and Bootstrap</td>
                  <td>
                    <div class="stars-outer">
                      <div class="stars-inner"></div>
                    </div>
                    <span class="number-rating"></span>
                  </td>
                </tr>
                <tr class="vizio3">
                  <td>React</td>
                  <td>
                    <div class="stars-outer">
                      <div class="stars-inner"></div>
                    </div>
                    <span class="number-rating"></span>
                  </td>
                </tr>
               <!--<tr class="panasonic3">
                  <td>Javascript</td>
                  <td>
                    <div class="stars-outer">
                      <div class="stars-inner"></div>
                    </div>
                    <span class="number-rating"></span>
                  </td>
                </tr>
                <tr class="phillips3">
                  <td>Phillips 4K TV</td>
                  <td>
                    <div class="stars-outer">
                      <div class="stars-inner"></div>
                    </div>
                    <span class="number-rating"></span>
                  </td>
                </tr>
          </tbody>
          --> 
          <!--4thtables-->
          <table class="table table-striped">
            <thead>
              <tr>
                <th>DevTools and Other Skills</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class="sony4">
                <td>Git Version Control</td>
                <td>
                  <div class="stars-outer">
                    <div class="stars-inner"></div>
                  </div>
                  <span class="number-rating"></span>
                </td>
              </tr>
              <tr class="samsung4">
                <td>Linux Terminal</td>
                <td>
                  <div class="stars-outer">
                    <div class="stars-inner"></div>
                  </div>
                  <span class="number-rating"></span>
                </td>
              </tr>
              <tr class="vizio4">
                <td>Digital Marketing</td>
                <td>
                  <div class="stars-outer">
                    <div class="stars-inner"></div>
                  </div>
                  <span class="number-rating"></span>
                </td>
              </tr>
              <tr class="panasonic4">
               <!-- <td>Javascript</td>
                <td>
                  <div class="stars-outer">
                    <div class="stars-inner"></div>
                  </div>
                  <span class="number-rating"></span>
                </td>
              </tr>
              <tr class="phillips4">
                <td>Phillips 4K TV</td>
                <td>
                  <div class="stars-outer">
                    <div class="stars-inner"></div>
                  </div>
                  <span class="number-rating"></span>
                </td>
              </tr>
        </tbody>
       -->
        
          </table>
        </div>
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>

<!-- javascript -->
<script>
  // Initial Ratings
      const ratings = {
        //for 1 tables
        sony: 5,
        samsung: 4,
        vizio: 3.5,
        panasonic: 3.8,
       // phillips: 4.1,
       //for 2 tables
        sony2: 4,
        samsung2: 3.5,
        //vizio2: 2.3,
        //panasonic2: 3.6,
        //phillips2: 4.1,
        //for 3 tables
        sony3: 4.5,
        samsung3: 4.0,
        vizio3: 4.0,
       // panasonic3: 3.6,
       // phillips3: 4.1,
        //for 4 tables
        sony4: 4.8,
        samsung4: 4.5,
        vizio4: 4.4,
        //panasonic4: 3.6,
        //phillips4: 4.1
      }

      // Total Stars
      const starsTotal = 5;

      // Run getRatings when DOM loads
      document.addEventListener('DOMContentLoaded', getRatings);

      // Form Elements
      const productSelect = document.getElementById('product-select');
      const ratingControl = document.getElementById('rating-control');

      // Init product
      let product;

      // Product select change
      productSelect.addEventListener('change', (e) => {
        product = e.target.value;
        // Enable rating control
        ratingControl.disabled = false;
        ratingControl.value = ratings[product];
      });

      // Rating control change
      ratingControl.addEventListener('blur', (e) => {
        const rating = e.target.value;

        // Make sure 5 or under
        if (rating > 5) {
          alert('Please rate 1 - 5');
          return;
        }

        // Change rating
        ratings[product] = rating;

        getRatings();
      });

      // Get ratings
      function getRatings() {
        for (let rating in ratings) {
          // Get percentage
          const starPercentage = (ratings[rating] / starsTotal) * 100;

          // Round to nearest 10
          const starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%`;

          // Set width of stars-inner to percentage
          document.querySelector(`.${rating} .stars-inner`).style.width = starPercentageRounded;

          // Add number rating
          document.querySelector(`.${rating} .number-rating`).innerHTML = ratings[rating];
        }
      }
    </script>




   
   
  </div>
</section>
<%- include('partials/footer'); -%>




